{{#d-modal-body title="ahwaa_migratepassword.title"}}
  <div>
    {{i18n 'ahwaa_migratepassword.body'}}
  </div>
  <div class="mt-3">
    <a href {{action "changePassword"}} class='btn'>
      {{d-icon "envelope"}}
      {{i18n 'user.change_password.action'}}
    </a>

    {{passwordProgress}}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary"
             action="closeModal"
             label="forgot_password.button_ok"}}
</div>
